<div id='data' class="small-12 columns card" style="background: #ffffff; height: 24vh; margin-bottom: 2vh;">
	<div class='chart' style="width: 40vw">
		<h1>Data goes down here</h1>
	</div>
</div>
</div>
