<div id='data' class="small-12 columns card" style="background: #e1f1f5; height: 24vh; margin-bottom: 2vh; padding: 0;">
	<div class='row' style="text-align: center; color: white; width: 100%; height: 100%; padding: 0; margin: 0;">
		{{#each (getHeroes)}}
		<div class="small-4 columns" style = "height: 100%; padding: 0; margin: 0;">
			<div id="{{id}}" style="background-color: #29488E; height: 100%; padding: 0; margin: 0; border: 10px solid #425D9B; {{#if noShow}} border-left: 0px; border-right: 0px;{{/if}}">
				<h4 style="color: white; padding-top: 10px;">{{title}}</h4>
				<h1 style="font-size: 3rem; padding-top: 40px; color: white;">{{defaultValue}}</h1>
			</div>
		</div>
		{{/each}}
	</div>
</div>
</div>
