<div class="row" id="lower_navigation" style="">
	<button id="navigate-back" class="btn btn-cta success" style="float: left;">
		<div class="icon icon-util-left-back"></div>
		Previous
	</button>
	<button id="navigate-forward" class="btn btn-cta success" style="float: right;">
		Next
		<div class="icon icon-util-right-forward" style=""></div>
	</button>
</div>

<!-- div to end the main_section-->
</div>
