<div class="row" id="lower_navigation" style="">
	</button>
	<button id="navigate-back" class="btn btn-cta success" style="float: left; margin-bottom: 0px; display: none; background-color: #29488E;">
		<div class="icon icon-util-left-back"></div>
	</button>
	<button id="navigate-forward" class="btn btn-cta success" style="float: right; margin-bottom: 0px; background-color: #29488E;">
		<div class="icon icon-util-right-forward" style=""></div>
	</button>
</div>

<!-- div to end the main_section-->
</div>
