<div class="row" id="lower_navigation" style="position: absolute; bottom: 30px; width: 98%; height: 6vh"  >
	<button id="navigate-back" class="btn btn-cta success" style="float: left; margin-bottom: 0px; display: none;">
		<div class="icon icon-util-left-back"></div>
	</button>
	<button id="navigate-forward" class="btn btn-cta success" style="float: right; margin-bottom: 0px;">
		<div class="icon icon-util-right-forward" style=""></div>
	</button>
</div>

<!-- div to end the main_section-->
</div>
