<div id="actualNav" class="small-2 columns" style="background-color: #ffffff; height: 100vh">
	<h3>
		Life Events Financial Calculator
	</h3>
	<ul class="filter-nav vertical">
		{{#each (getPages)}}
		<li class="filter-nav-entry ">
			<button class="nav-button" id="nav-{{id}}" pageid={{id}}>{{nav}}</button>
		</li>
		{{/each}}
	</ul>
</div>
