<div id="actualNav" style="background-color: #ffffff; float:left; width: 20vw; height: 100vh">
	<h1>
		NAVIGATION
	</h1>
	<ul class="filter-nav vertical">
		{{#each (getPages)}}
		<li class="filter-nav-entry ">
			<button class="nav-button" id="nav-{{id}}" pageid={{id}}>{{nav}}</button>
		</li>
		{{/each}}
	</ul>
</div>
