<div class="card" style="float:left; width: 100vw; position:relative; height: 75vh; padding: 10vh">
    {{#each (getQuestions)}}
    <div id="{{id}}" style="{{#unless show}}display: none;{{/unless}}">
        <!-- Card content goes here -->
        <h5 style="font-size: 5rem">{{title}}</h5>
        <div class="md-text-field with-floating-label">
            {{#each questions}}
            <input type="text" id="input_1" style="font-size: 3rem; height: 4.5rem; " placeholder="{{placeholder}}"></input>
            {{/each}}
        </div>
    </div>
    {{/each }}
    <div id="navigation" style="padding-bottom: 4vh; position: absolute; bottom: 0px;">
        <button id="navigate-back">
            <div class="icon icon-util-left-back" style="font-size: 5rem"></div>
        </button>
        <button id="navigate-forward">
            <div class="icon icon-util-right-forward" style="font-size: 5rem"></div>
        </button>
    </div>
    <div class="sg-illustrative-icon">
        <span class="icon-illustrative icon-ill-coin"></span>
    </div>
</div>