<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Life Events</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<<<<<<< HEAD
<link href="../../../dist/app.ff109f1bac215d6e06b6.css" rel="stylesheet"></head>

<body style="margin: 0; background-color: #eeeeee;">
	{{{body}}}
<script type="text/javascript" src="../../../dist/app.ff109f1bac215d6e06b6.js"></script></body>
=======
<link href="../../../dist/app.18f6edd0794ffaf160f2.css" rel="stylesheet"></head>

<body style="margin: 0; background-color: #eeeeee;">
	{{{body}}}
<script type="text/javascript" src="../../../dist/app.18f6edd0794ffaf160f2.js"></script></body>
>>>>>>> 52284e5771520261889ffc2a98d59a911f7b098f

</html>
