<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>

    <script type="text/javascript" src="/dist/bundle.js"></script>
</head>

<body style="margin: 0px">

    {{{body}}}

</body>

</html>