<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Life Events</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../../../dist/app.3c5218baa8f53f49a467.css" rel="stylesheet"></head>

<body style="margin: 0; background-color: #eeeeee;">
	{{{body}}}
<script type="text/javascript" src="../../../dist/app.3c5218baa8f53f49a467.js"></script></body>

</html>
