<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Life Events</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<<<<<<< HEAD
<link href="../../../dist/app.8cc3c5ceb0dca4137f7b.css" rel="stylesheet"></head>

<body style="margin: 0; background-color: #eeeeee;">
	{{{body}}}
<script type="text/javascript" src="../../../dist/app.8cc3c5ceb0dca4137f7b.js"></script></body>
=======

<link href="../../../dist/app.8b2f06f9525940170fce.css" rel="stylesheet"></head>

<body style="margin: 0; background-color: #eeeeee;">
	{{{body}}}
<script type="text/javascript" src="../../../dist/app.8b2f06f9525940170fce.js"></script></body>

>>>>>>> af2a31edd4b51d138b468dea141317afce46f70f

</html>
