<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Life Events</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../../../dist/app.6a3dc68230c3664b88e9.css" rel="stylesheet">
</head>

<body style="margin: 0; background-color: #eeeeee;">
	{{{body}}}
	<script type="text/javascript" src="../../../dist/app.6a3dc68230c3664b88e9.js"></script>
</body>

</html>
