<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Life Events</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<<<<<<< HEAD
<link href="../../../dist/app.34ff96e9dea56cd7428e.css" rel="stylesheet"></head>

<body style="margin: 0; background-color: #eeeeee;">
	{{{body}}}
<script type="text/javascript" src="../../../dist/app.34ff96e9dea56cd7428e.js"></script></body>
=======
  
<link href="../../../dist/app.26ec25477f9c120c1696.css" rel="stylesheet"></head>

<body style="margin: 0; background-color: #eeeeee;">
	{{{body}}}
<script type="text/javascript" src="../../../dist/app.e76d187f73dc96b6e374.js"></script></body>
>>>>>>> bae8ed2e0164dde4cc5bff4737535285879942c1

</html>
