<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Life Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../../../dist/app.b064833267a83c31f161.css" rel="stylesheet"></head>

<body style="margin: 0">
    {{{body}}}
<script type="text/javascript" src="../../../dist/app.b064833267a83c31f161.js"></script></body>

</html>