<!DOCTYPE html>
<html>

<head>
<<<<<<< HEAD
    <meta charset="utf-8">
    <title>Life Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../../../dist/app.d56c8f677d461700a411.css" rel="stylesheet"></head>

<body style="margin: 0">
    {{{body}}}
<script type="text/javascript" src="../../../dist/app.d56c8f677d461700a411.js"></script></body>
=======
	<meta charset="utf-8">
	<title>Life Events</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../../../dist/app.4d98da88d3c931bde3e3.css" rel="stylesheet"></head>

<body style="margin: 0; background-color: #eeeeee;">
	{{{body}}}
<script type="text/javascript" src="../../../dist/app.4d98da88d3c931bde3e3.js"></script></body>
>>>>>>> master

</html>
