<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Life Events</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<<<<<<< HEAD
<link href="../../../dist/app.4c52bad85563d776a580.css" rel="stylesheet"></head>

<body style="margin: 0; background-color: #eeeeee;">
	{{{body}}}
<script type="text/javascript" src="../../../dist/app.4c52bad85563d776a580.js"></script></body>
=======

<link href="../../../dist/app.4737b6e3a3a349531eb7.css" rel="stylesheet"></head>

<body style="margin: 0; background-color: #eeeeee;">
	{{{body}}}
<script type="text/javascript" src="../../../dist/app.4737b6e3a3a349531eb7.js"></script></body>
>>>>>>> ca8f8aa7107d5e2a1fe65f8e91c4ba7e848790c9

</html>
