<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Life Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../../../dist/app.597e1237faf9b7d7351b.css" rel="stylesheet"></head>

<body style="margin: 0">
    {{{body}}}
<script type="text/javascript" src="../../../dist/app.597e1237faf9b7d7351b.js"></script></body>

</html>