<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Life Events</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<<<<<<< HEAD
<link href="../../../dist/app.b928b3277c5b4f6013b5.css" rel="stylesheet"></head>

<body style="margin: 0; background-color: #eeeeee;">
	{{{body}}}
<script type="text/javascript" src="../../../dist/app.b928b3277c5b4f6013b5.js"></script></body>
=======
<link href="../../../dist/app.26ec25477f9c120c1696.css" rel="stylesheet"></head>

<body style="margin: 0; background-color: #eeeeee;">
	{{{body}}}
<script type="text/javascript" src="../../../dist/app.26ec25477f9c120c1696.js"></script></body>
>>>>>>> 6681a8f6f1ed4fb729c071c449e92355d9e155d0

</html>
