<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Life Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../../../dist/app.8f9cc2a16a97aa9a69b5.css" rel="stylesheet"></head>

<body style="margin: 0">
    {{{body}}}
<script type="text/javascript" src="../../../dist/app.8f9cc2a16a97aa9a69b5.js"></script></body>

</html>